/* CSS Document FONT-STYLES */
body {
	font: 72%/1.5 "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;	}

h2, h3, h4, p, ul, blockquote {
	margin: 0 20px .75em; }
	
h2, h3 {
	margin-bottom: .15em;
	font: 200% "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: -1px; }
	
li > h4	{
	margin-left: 0;}

p {
	font-size: 100%; }
	
h2 + p {
	font-size: 110%; }
	
li > p {
	margin-left: 0; }
	
a:link, a:visited {
	text-decoration : none; }

div#nav_main p {
	font-size: 160%; }

ol.normaleListe li {
	list-style: decimal;
	line-height: 1.3em;	}

ol.normaleListe {
	margin: 1em 0 1em 3.5em; }

ul.normaleListe {
	list-style: disc;
	line-height: 1.3em;
	}
	
ul.normaleListe li {
	font-weight: bold;
	}

ul.normaleListe li ul li {
	font-weight: normal;
	}