/* CSS Document NORMALISIREN DER BROWSER */

/* NORMALISIEREN MARGIN; PADDING */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, input, p, blockquote, th, td
{ padding: 0; margin: 0; }

/* NORMALISIEREN font-size für Überschriften */
h1,h2,h3,h4,h5,h6
{ font-size: 100%; }

/* ENTFERNEN list-style aus Elementen */
ol,li
{ list-style: none; }

/* NORMALISIEREN font-style und font-weight auf normal */
address, caption, cite, dfn, em, strong, th, var
{ font-style: normal; font-weight: normal; }

/* ENTFERNEN zwischenräume aus table */
table
{ border-collapse: collapse; border-spacing: 0;  }

/* ENTFERNEN border aus fieldset und img */
fieldset, img
{ border: 0; }

/* Richtet Text in caption und th links aus */
caption, th
{ text-align: left; }

/* ENTFERNEN Anführungszeichen aus q */
q:before, q:after 
{ content: ''; } 

